.first-div {
      width: 150px;
      height: 150px;
      background-color: blue;
      padding: 10px;
      border: 10px solid rgb(255, 20, 147);
      margin-left: 200px;
    }

    .second-div {
      width: 150px;
      height: 150px;
      background-color: red;
      padding: 5px;
      border: 20px solid rgb(0, 0, 0);
    }
