p.long-para {
    width: 200px;
    border: 1px solid;
    white-space: nowrap;
    /* Write your code here */
   
}
p{
    overflow:hidden;
    text-overflow: ellipsis;
}

p:hover +.long-para{
    cursor: pointer;
    display: block;
}

.class::before {
  content: "⬇️⬇️ HOVER ⬇️⬇️";
}
